/*Default colors*/
.bruno-colors.bruno-colors-red {
  background-color: rgb(255, 0, 0);
}
.bruno-colors.bruno-colors-text-red {
  background-color: rgb(255, 0, 0);
}
.bruno-colors.bruno-colors-orange {
  background-color: orange;
}
.bruno-colors.bruno-colors-text-orange {
  boackground-color: orange;
}
.bruno-colors.bruno-colors-yellow {
  background-color: #FFFF00;
}
.bruno-colors.bruno-colors-text-yellow {
  background-color: #FFFF00;
}
.bruno-colors.bruno-colors-green {
  background-color: #00FF00;
}
.bruno-colors.bruno-colors-text-green {
  color: #00FF00;
}
.bruno-colors.bruno-colors-blue {
  background-color: rgb(0, 0, 255);
}
.bruno-colors.bruno-colors-text-blue {
  color: rgb(0, 0, 255);
}
.bruno-colors.bruno-colors-pink {
  background-color: pink;
}
.bruno-colors.bruno-colors-text-pink {
  color: pink;
}
/*Default*/
.bruno-colors.bruno-colors-default {
  background-color: #FFFFFF; /*Defualt text (short for white)*/
}
.bruno-colors.bruno-colors-text-default {
  color: #000000; /*Defualt text (short for black)*/
}
/*Black and white*/
.bruno-colors.bruno-colors-white {
  background-color: #FFFFFF;
}
.bruno-colors.bruno-colors-text-white {
  color: #FFFFFF;
}
.bruno-colors.bruno-colors-light-gray {
  background-color: rgb(200, 200, 200);
}
.bruno-colors.bruno-colors-text-light-gray {
  color: rgb(200, 200, 200);
}
.bruno-colors.bruno-colors-gray {
  background-color: rgb(128, 128, 128);
}
.bruno-colors.bruno-colors-text-gray {
  background-color: rgb(128, 128, 128);
}
.bruno-colors.bruno-colors-dark-gray {
  background-color: rgb(80, 80, 80);
}
.bruno-colors.bruno-colors-text-dark-gray {
  color: rgb(80, 80, 80);
}
.bruno-colors.bruno-colors-black {
  background-color: rgb(0, 0, 0);
}
.bruno-colors.bruno-colors-text-black {
  color: rgb(0, 0, 0);
}
