<!DOCTYPE html>
<html>
  <head>
    <title>Icon preview</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>
  <body>
    <script>
      var app = angular.module("findApp", []);
      app.controller("icon", function($scope) {
        $scope.icons = [
          "hr-icon",
          "shadow",
          "text",
          "text-rotate",
          "quotes"
        ];
        $scope.search = "";
      });
    </script>
    <h1>Our icons!</h1>
    <p><a href="https://brunozhon.github.io/Icons/docs/icon-help.html">Icons help</a></p>
    <table>
      <tr>
        <th>Icon name</th>
        <th>View it!</th>
      </tr>
      <tr>
        <td>1. hr-icon</td>
        <td><a href="https://brunozhon.github.io/Icons/hr-icon.svg">View it!</a></td>
      </tr>
      <tr>
        <td>2. shadow</td>
        <td><a href="https://brunozhon.github.io/Icons/shadow.svg">Not surported in IE9 and earier</a></td>
      </tr>
      <tr>
        <td>3. text</td>
        <td><a href="https://brunozhon.github.io/Icons/text.svg">View it!</a></td>
      </tr>
      <tr>
        <td>4. text-rotate</td>
        <td><a href="https://brunozhon.github.io/Icons/text-rotate.svg">View it!</a></td>
      </tr>
      <tr>
        <td>5. quotes</td>
        <td><a href="https://brunozhon.github.io/Icons/quotes.svg">View it</a></td>
      </tr>
    </table>
    <div ng-app="findApp" ng-controller="icon">
      <input ng-model="search" />
      <p>{{search}} mactches: </p>
      <ul>
        <li ng-repeat="x in icons | filter:search">
          {{$index + 1}}. {{x}}
        </li>
      </ul>
    </div>
  </body>
</html>
